
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Everfail | home</title>
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/everFailMain/css/960.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/everFailMain/css/reset.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/everFailMain/css/text.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{asset('bundles/everFailMain/css/blue.css')}}" />
    <link type="text/css" href="{{asset('bundles/everFailMain/css/smoothness/ui.css')}}" rel="stylesheet" />  
    <script type="text/javascript" src="../../ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/blend/jquery.blend.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/ui.core.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/ui.sortable.js')}}"></script>    
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/ui.dialog.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/ui.datepicker.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/effects.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/everFailMain/js/flot/jquery.flot.pack.js')}}"></script>
    <script id="source" language="javascript" type="text/javascript" src="{{asset('bundles/everFailMain/js/graphs.js')}}"></script>

</head>

<body>
    <!-- WRAPPER START -->
    <img style= "position:relative; top:10px; left:205px;" src="{{asset('bundles/everFailMain/images/logo.png')}}"></img>
    <div class="container_16" id="wrapper">	
        <div class="grid_8" style="position:relative; top:-25px; right:-480px;">
            <!-- USER TOOLS START -->
            <div id="user_tools"><span><a href="#" class="mail">(1)</a> You have logged in as <a href="#">Username</a>  | <a href="#">Logout</a></span></div>
        </div>
        <!-- USER TOOLS END -->    
        <div class="grid_16" id="header" >
            <!-- MENU START -->
            <div id="menu">
                <ul class="group" id="menu_group_main">
                    <li class="item first" id="one"><a href="{{ path("ever_fail_main_homepage2") }}" class="main"><span class="outer"><span class="inner dashboard">Dashboard</span></span></a></li>
                    <li class="item middle" id="two"><a href="{{ path("customer") }}" class="main"><span class="outer"><span class="inner content">Customer</span></span></a></li>
                    <li class="item middle" id="three"><a href="{{ path("category") }}" ><span class="outer"><span class="inner reports png">Category</span></span></a></li>
                    <li class="item middle" id="four"><a href="{{ path("part") }}" class="main"><span class="outer"><span class="inner users">Parts</span></span></a></li>
                    <li class="item middle" id="five"><a href="{{ path("service") }}" class="main"><span class="outer"><span class="inner media_library">Service</span></span></a></li>        
                    <li class="item middle" id="six"><a href="{{ path("car") }}"  class="main"><span class="outer"><span class="inner event_manager">Cars</span></span></a></li>        
                    <li class="item middle" id="seven"><a href="{{ path("invoice") }}" class="main"><span class="outer"><span class="inner newsletter">Invoice</span></span></a></li>        
                    <li class="item last" id="eight"><a href="{{ path("vendor") }}" class="main"><span class="outer"><span class="inner settings">Vendor</span></span></a></li>        
                </ul>
            </div>
            <!-- MENU END -->
        </div>
        <div class="grid_16" id="content">
     {% block body %}

                    {% endblock %}




        </div>
        <div class="clear"> </div>
    </div>
    <!-- WRAPPER END -->
    <!-- FOOTER START -->
    <div class="container_16" id="footer">
        Designed by <a href="#">Pentozide</a></div>
    <!-- FOOTER END -->
</body>
</html>
