{% extends '::base.html.twig' %}

{% block body -%}
<div class="grid_9">
    <h1 class="part">Part List</h1>
</div>
<div id="portlets">
    <div class="column">
        <b>List of Available Parts</b>

        <br/>
        <div class="sign-in">
    {{form(form)}}
        </div>
        <br/>

        <table width="100%" cellpadding="0" cellspacing="0" id="box-table-a" summary="Employee Pay Sheet">
            <thead>
                <tr>
                    <th>{{ partName }}</th>
                    <th>{{ price }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('part_show', { 'id': entity.id }) }}">{{ entity.partName }}</a></td>
                    <td>{{ entity.price }}</td>
                    <td colspan="4"><a href="#" class="edit_inline">Edit</a><a href="#" class="delete_inline">Delete</a><a href="{{ path('part_show', { 'id': entity.id }) }}" class="approve_inline">View</a></td>

                </tr>
        {% endfor %}
            </tbody>
        </table>
        <ul>
            <a href="{{ path('part_new') }}">
                <h3>Add a new Part</h3>
            </a>
        </ul>
    </div>
</div>
    {% endblock %}
