{% extends '::base.html.twig' %}

{% block body -%}
<div class="grid_9">
    <h1 class="part">Part List</h1>
</div>
<div id="portlets">
    <div class="column">
        <b>List of Available Parts</b>
    <br/>
    <table width="100%" cellpadding="0" cellspacing="0" id="box-table-a" summary="Employee Pay Sheet">
        <tbody>
            <tr>
                <th>{{ partName }}</th>
                <td>{{ entity.partName }}</td>
            </tr>
            <tr>
                <th>{{ price }}</th>
                <td>{{ entity.price }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('part') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('part_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
  
</ul>
      {{ form(delete_form) }}
    </div>
    </div>
{% endblock %}
