{% extends '::base.html.twig' %}

{% block body -%}
<div class="grid_9">
    <h1 class="car">Car List</h1>
</div>
<div id="portlets">
    <div class="column">
        <b>List of Registered Cars</b>
        <br/>
        <div class="sign-in">
    {{form(form)}}
        </div>
        <br/>
        <table width="100%" cellpadding="0" cellspacing="0" id="box-table-a" summary="Employee Pay Sheet">
            <thead>
                <tr>
                    <th>{{ regNumber }}</th>
                    <th>{{ model }}</th>
                    <th>{{ manufactureYear }}</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
        {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('car_show', { 'id': entity.id }) }}">{{ entity.regNumber }}</a></td>
                    <td>{{ entity.model }}</td>
                    <td>{% if entity.manufactureYear %}{{ entity.manufactureYear|date('Y-m-d') }}{% endif %}</td>
                    <td colspan="4"><a href="#" class="edit_inline">Edit</a><a href="#" class="delete_inline">Delete</a><a href="{{ path('car_show', { 'id': entity.id }) }}" class="approve_inline">View</a></td>

                </tr>
        {% endfor %}
            </tbody>
        </table>
        <ul>
            <a href="{{ path('car_new') }}">
                <h3>Add a new Car</h3>
            </a>
        </ul>
    </div>
</div>

    {% endblock %}
