{% extends '::base.html.twig' %}

{% block body -%}
<div class="grid_9">
    <h1 class="car">Car List</h1>
</div>
<div id="portlets">
    <div class="column">
        <b>Registered Car</b>

    <br/>
    <table width="100%" cellpadding="0" cellspacing="0" id="box-table-a" summary="Employee Pay Sheet">
        <tbody>
            <tr>
                <th>{{ regNumber }}</th>
                <td>{{ entity.regNumber }}</td>
            </tr>
            <tr>
                <th>{{ model }}</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>{{ manufactureYear }}</th>
                <td>{{ entity.manufactureYear|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="news_items">
    <li>
        <a href="{{ path('car') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('car_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
</ul>
 {{ form(delete_form,{ 'attr': { 'class': 'button' } }) }}
    </div>
    </div>
{% endblock %}
