{% block menu %}
{% endblock %}
{% block body %}
{% block fos_user_content %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login | Everfail</title>
    <link href="{{asset('bundles/everFailMain/css/960.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('bundles/everFailMain/css/reset.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('bundles/everFailMain/css/text.css')}}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{asset('bundles/everFailMain/css/login.css')}}" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <img style= "position:relative; top:10px; left:205px;" src="{{asset('bundles/everFailMain/images/logo.png')}}"></img>

    <div style= "position:relative; top:-50px; left:0px;" class=container_16>
        <div  class="grid_6 prefix_5 suffix_5">
            <h1>Welcome to Everfail...</h1>
          
         </div>
        
        <div  class="grid_6 prefix_5 suffix_5">
            <h1>You have been succesfully registed..login to the dashboard.</h1>
          
         </div>
    <br clear="all" />
</body>
</html>



{% endblock fos_user_content %}
{% endblock %}




